@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: rgb(190, 156, 0);
}

body {
    background-image: linear-gradient(to bottom right, rgb(255, 206, 116), rgb(226, 147, 0));
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    max-width: 900px;
    width: 80%;
    margin: auto;
    padding: 15px;
    background-color: white;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "h h"
    "n n"
    "ar ar"
    "f f";
    gap: 15px;
}

header {
    grid-area: h;
    text-align: center;
}

h1, h2 {
    color: rgb(141, 96, 0);
}

nav {
    grid-area: n;
}

nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}

nav ul a {
    text-decoration: none;
    color: rgb(190, 156, 0);
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    font-weight: bold;
    transition: all 0.3s ease-in-out 0s;
}

nav ul a:link {
    color: rgb(190, 156, 0);
}

nav ul a:hover {
    background-color: rgb(190, 156, 0);
    color: white;
    transition: 0.5s;
}

nav ul a:active {
    background-color: rgb(143, 117, 0);
    color: white;
}

.aktiv {
    color: white;
    background-color: rgb(190, 156, 0);
}

.kep {
    grid-area: k;
}

article {
    grid-area: ar;
}

.toggleButton {
    display: none;
}

.linkek {
    display: none;
}

article h2 {
    text-align: center;
    margin-bottom: 10px;
}

footer {
    grid-area: f;
    text-align: center;
}

#tarolo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 20px;
}

#tarolo2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 20px;
}

#tarolo3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 20px;
}

.elem {
    display: grid;
    grid-template-rows: 285px auto auto 25px;
    text-align: justify;
}

.elem2 {
    display: grid;
    grid-template-rows: 180px auto auto 25px;
    text-align: justify;
}

.elem img {
    width: 100%;
}

.elem2 img {
    width: 100%;
}

.lablec a {
    text-decoration: none;
    color: white;
    background-color: rgb(190, 156, 0);
    border-radius: 20px;
    padding: 5px 40% 5px 37%;
}

.lablec {
    width: 100%;
    margin-top: 10px;
}

/* TABLET és MOBIL nézet */

@media screen and (max-width: 870px){
    main {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "h"
        "n"
        "ar"
        "f";
        gap: 10px;
    }
    nav ul {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    nav ul a {
        padding: 10px 40% 10px 40%;
    }

    article {
        font-size: 1.75vh;
    }

    article h2 {
        margin-bottom: 10px;
    }

    #tarolo {
        grid-template-columns: 1fr;
    }

    #tarolo2 {
        grid-template-columns: 1fr;
    }

    #tarolo3 {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .elem {
        display: grid;
        grid-template-rows: auto auto auto 25px;
        text-align: justify;
    }

    .elem2 {
        display: grid;
        grid-template-rows: auto auto auto 25px;
        text-align: justify;
    }

    .lablec {
        margin: 10px 0 10px 0;
    }

    .lablec a {
        padding: 5px 42% 5px 42%;
    }

    .linkek {
        display: none;
    }

    .linkek.active {
        display: block;
        margin: 10px;
    }

    .linkek.active li {
        margin: 20px 0 20px 0;
    }

    .toggleButton {
        display: block;
        margin: 20px 0 10px 0;
    }
}